
@{
    ViewBag.Title = "MyBlog";
}

<div class="tab-pane fade"
     id="profile"
     role="tabpanel"
     aria-labelledby="profile-tab">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">店名</th>
                <th scope="col">描述</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr id="favoriteBlog"></tr>
        </tbody>
    </table>
</div>

